nav.main {
    padding: 0px 30px 30px 0px;
}

.main ul {
    list-style-type: none;
}

nav.main a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}

.main a:hover {
    transform: translateX(20px)
}

.main a.active {
    color: #fff;
    border-left: 10px solid grey;
    transform: translateX(0px);
}

.main li:nth-child(1) a.active {
    border-left-color: green;
}

.main li:nth-child(2) a.active {
    border-left-color: blue;
}

.main li:nth-child(3) a.active {
    border-left-color: orange;
}

.main li:nth-child(4) a.active {
    border-left-color: red;
}